<p id="notice"><%= notice %></p>

<h1>Fb Tokens</h1>

<table>
  <thead>
    <tr>
      <th>Token</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fb_tokens.each do |fb_token| %>
      <tr>
        <td><%= fb_token.token %></td>
        <td><%= link_to 'Show', fb_token %></td>
        <td><%= link_to 'Edit', edit_fb_token_path(fb_token) %></td>
        <td><%= link_to 'Destroy', fb_token, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fb Token', new_fb_token_path %>
