<p id="notice"><%= notice %></p>
<h1>Posts</h1>
<!-- <p>There are <%#= Post.count %> posts.</p> -->
<table class="table table-striped post-table">
  <thead>
    <tr class="header">
      <th> Facebook Id </th>
      <th>Page</th>
      <th><%= sortable "share_count" %></th>
      <th><%= sortable "like_count" %></th>
      <th><%= sortable "comment_count" %> </th>
      <th><%= sortable "fb_created_time" %> </th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <% page_id, post_id = post.facebook_id.split('_') %>
        <td><%= link_to post.facebook_id, "https://www.facebook.com/#{page_id}/posts/#{post_id}", target: '_blank' %></td>
        <td><%= post.fanpage.name %></td>
        <td><%= post.share_count %></td>
        <td><%= post.like_count %></td>
        <td><%= post.comment_count %></td>
        <td><%= post.fb_created_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @posts , renderer: BootstrapPagination::Rails  %>
<br>

<%= link_to 'New Post', new_post_path %>
