<p id="notice"><%= notice %></p>

<h1>Fanpages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Facebook number</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fanpages.each do |fanpage| %>
      <tr>
        <td><%= fanpage.name %></td>
        <td><%= fanpage.facebook_number %></td>
        <td><%= fanpage.category_id %></td>
        <td><%= link_to 'Show', fanpage %></td>
        <td><%= link_to 'Edit', edit_fanpage_path(fanpage) %></td>
        <td><%= link_to 'Destroy', fanpage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fanpage', new_fanpage_path %>
