<p id="notice"><%= notice %></p>
<h1>FanPage</h1>
<table class="table table-striped fanpage-table">
  <thead>
    <tr>
      <th><%= sortable "name" %></th>
      <th><%= sortable "facebook_number" %></th>
      <th><%= sortable "category_id" %></th>
      <th><%= sortable "created_at" %></th>
    </tr>
  </thead>
  <tbody>
    <% @fanpages.each do |fanpage| %>
      <tr>
        <td><%= fanpage.name %></td>
        <td><%= fanpage.facebook_number %></td>
        <td><%= fanpage.category_id %></td>
        <td><%= fanpage.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @fanpages , renderer: BootstrapPagination::Rails  %>
<br>

<%= link_to 'New Post', new_fanpage_path %>
